/bundleAndLoader/bundleProj/Library
/bundleAndLoader/bundleProj/obj
/bundleAndLoader/bundleProj2/Library
/bundleAndLoader/bundleProj2/obj
/bundleAndLoader/loaderProj/Library
/bundleAndLoader/loaderProj/obj
/bundleAndLoader/bundleProj/.vs
/bundleAndLoader/bundleProj2/.vs
/bundleAndLoader/loaderProj/.vs
/ui/.vs
/ui/Library
/ui/obj
