/bundleAndLoader/bundleProj/Library
/bundleAndLoader/bundleProj/obj
/bundleAndLoader/bundleProj2/Library
/bundleAndLoader/bundleProj2/obj
/bundleAndLoader/loaderProj/Library
/bundleAndLoader/loaderProj/obj
